*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
    box-sizing: border-box;
    font-size: 10px;
    --font-size: 1.8rem;
    --near-white: hsl(249, 18%, 97%);
    --app-bckgrnd : hsl(0, 0%, 95%);
    --board-bckgrnd : hsl(0, 0%, 100%);
    --modal-wrapper-bckgrnd : hsl(0, 0%, 90%);
    --gray-font: hsl(204, 19%, 26%);
    --light-gray : hsl(0, 0%, 97%);
    --dark-gray : hsl(0, 0%, 70%);
    --accent-color: hsl(249, 18%, 53%);
    --attention-color : hsl(0, 97%, 30%);
    --item-dialog-bckgrnd: hsl(249, 18%, 43%);
    --inactive: hsl(0, 0%, 90%);
}

body {
    font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    font-weight: 300;
    line-height: 2rem;
    font-size: var(--font-size);
    margin: .8rem auto;
    background-color: var(--app-bckgrnd);
    max-width: 1200px;
}

input, select {
    padding: .3rem .5rem;
}

button {
    padding: .3rem 1rem;
}

pre {
    font-family: inherit;
    font-weight: 400;
}

input.inactive, textarea.inactive {
    background-color: var(--inactive);
}

#search-message {
    font-size: 1.1em;
}

#search-message-override {
    font-size: 1.1em;
    color: var(--attention-color);
}

#search-bar {
    margin: .4rem 0;
}

.search-empty span{
    padding-right: .4rem;
}

.search-display {
    color: var(--attention-color);
}

.search-display-value {
    border: .2rem solid var(--attention-color);
    border-radius: .6rem;
    padding: 0 .8rem;
}

.search-trigger {
    cursor: pointer;
}


.hidden {
    display: none !important;
}

.spaced-lines > div {
    padding-top: .6rem;
    padding-bottom: .6rem;
}

.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--app-bckgrnd);
}

.header-container {
    background-color: var(--board-bckgrnd);
    color: hsl(218, 76%, 15%);
    width: 100%;
    padding: 0 1rem 0 1rem;
    margin: 0 auto;
    max-width: 1200px;
    color: var(--accent-color);
    font-family: Arial, sans-serif;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.6rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
}

.top-row-header {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    color: hsl(0, 0%, 66%);
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: 1rem;
    width: 100%;
    background-color: var(--near-white);
    box-shadow: 0px -3px 6px 1px hsl(0 0% 80%);
    padding: 0 2rem;
    min-height: 3.5rem;
    column-gap: .5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.search-title {
    font-size: 1.3em;
    font-weight: bold;
}

.search-pill {
    font-size: 1.4rem;
    border: .1rem solid var(--dark-gray);
    color: var(--gray-font);
    background-color: hsl(0, 0%, 100%);
    border-radius: .6rem;
    padding: .3rem .5rem;
    margin: .4rem 0;
}

.search-pill span {
    font-weight: 400;
    padding-left: .5rem;
}

.entry-data {
    padding-top: 18rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    background-color: var(--board-bckgrnd);
}

.entry,
.entry-header {
    display: flex;
    flex-flow: column;
    margin-bottom: .8rem;
    border: .1rem solid hsl(0, 0%, 50%);
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1rem .5rem .5rem hsl(0, 0%, 75%);
    border-radius: 1.2rem;
    overflow: hidden;
}

.entry-header {
    padding-right: 2rem;
}

.entry.first-of-header {
    border-top: .1rem solid hsl(0, 0%, 0%);
}

.entry.first-of-subheader {
    border-top: .1rem dashed hsl(0, 0%, 0%);
}

.row {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.details {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: .4rem 2rem .8rem 2rem;
}

.details > .row {
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.item {
    display: flex;
    flex: 1 0 20rem;
    margin: .3rem .6rem;
}

.top-row {
    background-color: hsl(220, 16%, 96%);;
}

.new-item {
    background-color: hsl(60, 100%, 94%);
}

#search {
    width: 25rem;
}

.reclassify-count {
    margin-top: 1.5rem;
}

#JSONData {
    width: 60rem;
}

#page-bottom {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--board-bckgrnd);
    height: 10rem;
    padding: 0 1rem;
}

#page-bottom button {
    color: hsl(0, 0%, 38%);
    border-radius: .6rem;
    border: .2rem solid hsl(0, 0%, 38%);
    font-size: 1.6rem;
    font-weight: 600;
}

.group-icon {
    font-weight: 400;
    padding-right: .8rem;
    color: hsl(0, 0%, 97%);
    cursor: pointer;
}

.edit-icon {
    color: var(--gray-font);
    padding-left: .8rem;
}

.add-item-wrapper {
    position: relative;
    align-self: flex-start;
}

.add-item {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: -1rem;
    left: 2rem;
    border: 2px solid hsl(0, 0%, 3%);
    border-radius: 30rem;
    color:hsl(0, 0%, 100%);
    font-size: 2.2rem;
    line-height: 1.8rem;
    font-weight: 800;
    cursor: pointer;
    background-color: var(--accent-color);
}

.add-item div {
    text-align: center;
}

.delete-group-question {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--attention-color);
}

.delete-group-value {
    padding-left: 1rem;
    font-weight: 600;
    font-size: 1.8rem;
}

.delete-group-affected {
    font-weight: 600;
    color: var(--attention-color);
}

.reclassify-group-affected {
    font-weight: 600;
    color: var(--attention-color);
}

/* --------------------- */

.tooltip {
    position: relative;
    display: inline-block;
    margin-right: 0.6rem;
}

.tooltip .tooltip-text {
    --width: 15rem;
    top: -3.5rem;
    left: calc(var(--width)*-0.5);
    visibility: hidden;
    width: var(--width);
    background-color: hsl(0,0%, 90%);
    color: hsl(0,0%, 10%);
    border: 1px solid hsl(0, 0%, 0%);
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    font-size: 1.2rem;
    font-weight: 600;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.tooltip .tooltip-sm {
    --width: 15rem;
    left: calc(var(--width)*-0.5);
    width: var(--width);
}

.tooltip .tooltip-md {
    --width: 20rem;
    left: calc(var(--width)*-0.5);
    width: var(--width);
}

.tooltip .tooltip-lg {
    --width: 25rem;
    left: calc(var(--width)*-0.5);
    width: var(--width);
}

.tooltip .tooltip-top {
    top: -3.5rem;
}

.tooltip .tooltip-bottom {
    top: 3.5rem;
}

.tooltip .tooltip-left {
    top: 0;
    left: 0;
    margin-left: 2rem;
}

.tooltip .tooltip-right {
    top: 0;
    left: 0;
    margin-left: 2rem;
}

/* --------------------- */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.modal-bg {
    position: absolute;
    background: hsl(220, 16%, 96%);
    width: 100%;
    height: 100%;
}

.modal-header {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.modal-footer {
    padding-top: 1rem;
}

.modal-wrapper {
    border-radius: 1rem;
    position: relative;
    padding: 2rem;
    border: .1rem solid hsl(0, 0%, 75%);
    background-color: var(--modal-wrapper-bckgrnd);
}

.modal-close {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    outline: none;
    appearance: none;
    color: hsl(0, 0%, 0%);
    background: none;
    border: 0;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
}

.modal-buttons {
    padding-top: 2rem;
}

.modal-item-form {
    display: flex;
    flex-flow: column;
}

.modal-field {
    display: flex;
    flex-flow: row;
    margin-top: 1rem;
}

.modal-label {
    width: 9rem;
}

.modal-value {
    width: 30rem;
}

.modal-notes {
    margin-top: 1.6rem;
    font-size: 1.4rem;
    color:hsl(212, 12%, 72%);
}

.modal-comment {
    width: 100%;
    white-space: pre-wrap;
    padding: .3rem 1rem;
}

.modal-item-form input {
    width: 100%;
}

.combo-value {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-start;
}

.combo-value input, .combo-value select {
    flex: 1 0;
}

.combo-value input.toggle-combo {
    margin-right: 0.6rem;
    flex: 0 0 2rem;
}

.combo-value input.toggle-combo-right {
    margin-right: 0;
    margin-left: 0.6rem;
}

.btn-primary {
    color: hsl(0, 0%, 100%);
    background-color: var(--accent-color);
}

.invisible {
    visibility: hidden;
}

.center {
    text-align: center;
}

.pagination {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 1rem 0;
    column-gap: .6rem;
}

.page-button {
    border: .1rem solid hsl(0, 0%, 75%);
    border-radius: .6rem;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    font-size: 1.8rem;
    font-weight: 600;
}

.page-button a {
    text-decoration: none;
    color: inherit;
}

.page-button.inactive {
    background-color: var(--inactive);
    cursor: pointer;
}

button.page-button.current-page {
    background-color: hsl(216, 100%, 94%);
}

.comment-div {
    margin: 1rem 0;
}

.comment-div pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
	padding: .3rem;
}

.entry-tab-list {
    display: flex;
    flex-direction: row;
}

.entry-tab {
    padding:  .2rem .8rem .6rem .8rem;
    font-size: 1.1em;
    border: .1rem solid hsl(0, 0%, 50%);
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius: .6rem;
    border-top-left-radius: .6rem;
}

.entry-tab.active-tab {
    border-bottom: 0;
}

.entry-tab.filler {
    flex: 1 1;
    border: 0;
    border-bottom: .1rem solid hsl(0, 0%, 50%);
    background-color: var(--modal-wrapper-bckgrnd);
}

.entry-tab-body {
    border: .1rem solid hsl(0, 0%, 50%);
    border-top: 0;
    padding: 1rem 1rem;
    border-bottom-right-radius: .6rem;
    border-bottom-left-radius: .6rem;
}

.active-tab {
    color: hsl(0, 0%, 100%);
    background-color: var(--item-dialog-bckgrnd);
}

.deck-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight:600;
    border: .1rem solid hsl(0, 0%, 0%);
    border-radius: .6rem;
    margin: .5rem 0;
    padding: .3rem 1rem;
}

.deck-row-color {
    color: hsl(0, 0%, 100%);
    --hue: 0;
    --saturation: 0%;
    --light: hsl(var(--hue), var(--saturation), 30%);
    --dark: hsl(var(--hue), var(--saturation), 20%);
    background-color: var(--light);
    background: linear-gradient(180deg, var(--light) 36%, var(--dark) 85%);
}

.header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    border: .1rem solid hsl(0, 0%, 0%);
    border-radius: .6rem;
    margin: .5rem 0;
    margin-left: 2rem;
    padding: .3rem 1rem;
}

.header-row-color {
    color: hsl(0, 0%, 100%);
    --hue: 224;
    --saturation: 84%;
    --light: hsl(var(--hue), var(--saturation), 44%);
    --dark: hsl(var(--hue), var(--saturation), 34%);
    background-color: var(--light);
    background: linear-gradient(180deg, var(--light) 36%, var(--dark) 85%);
}

.subheader-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    border: .1rem solid hsl(0, 0%, 0%);
    border-radius: .6rem;
    margin: .5rem 0;
    margin-left: 4rem;
    padding: .3rem 1rem;
}

.subheader-row-color {
    color: hsl(0, 0%, 100%);
    --hue: 249;
    --saturation: 18%;
    --light: hsl(var(--hue), var(--saturation), 53%);
    --dark: hsl(var(--hue), var(--saturation), 43%);
    background-color: var(--light);
    background: linear-gradient(180deg, var(--light) 36%, var(--dark) 85%);
}

.article-row {
    border: .1rem solid hsl(0, 0%, 30%);
    border-radius: .6rem;
    margin: .5rem 0;
    margin-left: 6rem;
    padding: .3rem 1rem;
    font-weight: 500;
}

.article-line {
    display: flex;
    flex-direction: row;
    column-gap: .6rem;
}

.article-row-color {
    background-color: var(--near-white);
}

.comment-icon {
    flex: 0 0 25px;
    font-size: 1.2em;
    font-weight: 900;
    cursor: pointer;
    color: hsl(204, 19%, 46%);
}

.no-match-row {
    padding: 2rem 0;
    font-weight: 600;
    text-align: center;
    font-size: 2.3rem;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 25rem; /* Set a default minimum width */
    margin-left: -12.5rem; /* Divide value of min-width by 2 */
    background-color: hsl(0, 0%, 20%); /* Black background color */
    color: hsl(0, 0%, 100%); /* White text color */
    text-align: center; /* Centered text */
    border-radius: 1.2rem; /* Rounded borders */
    padding: 1.6rem; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 3rem; /* 30px from the bottom */
    font-size: 1.2em;
  }

  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  #snackbar.success {
    background-color: hsl(147, 50%, 47%);
  }

  #snackbar.warning {
    background-color: hsl(39, 100%, 50%);
  }

  #snackbar.error {
    background-color: var(--attention-color);
  }


  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 3rem; opacity: 1;}
  }

  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 3rem; opacity: 1;}
  }

  @-webkit-keyframes fadeout {
    from {bottom: 3rem; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  @keyframes fadeout {
    from {bottom: 3rem; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

/* ------------------------------------------------- */

.float-nav {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

.float-nav > a.menu-btn {
    text-decoration: none;
    display: block;
    background-color: var(--accent-color);
    color: white;
    padding: 17px 19px 12px 19px;
    text-align: center;
    box-shadow: 2px 2px 8px #777;
    border-radius: 300px;
}

.float-nav > a.menu-btn.active {
    transition: background-color 250ms linear;
    background-color: transparent;
    box-shadow: none;
}

.float-nav > a.menu-btn.active > ul > li.line:nth-child(1) {
    border-width: 2px;
    -moz-transform: rotate(45deg) translate(4px, 6px);
    -ms-transform: rotate(45deg) translate(4px, 6px);
    -webkit-transform: rotate(45deg) translate(4px, 6px);
    transform: rotate(45deg) translate(4px, 6px);
}

.float-nav > a.menu-btn.active > ul > li.line:nth-child(2) {
    visibility: hidden;
}

.float-nav > a.menu-btn.active > ul > li.line:nth-child(3) {
    border-width: 2px;
    -moz-transform: rotate(-45deg) translate(8px, -10px);
    -ms-transform: rotate(-45deg) translate(8px, -10px);
    -webkit-transform: rotate(-45deg) translate(8px, -10px);
    transform: rotate(-45deg) translate(8px, -10px);
}

.float-nav > a.menu-btn > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.float-nav > a.menu-btn > ul > li.line {
    border: 1px solid white;
    width: 100%;
    margin-bottom: 7px;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.float-nav > a.menu-btn > .menu-txt {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 1.2rem;
}

.main-nav {
    display: none;
    opacity: 0;
    font-family: sans-serif;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: opacity 250ms;
}

.main-nav.active {
    display: block;
    opacity: 1;
    transition: opacity 250ms;
}

.main-nav > ul {
    width: 100%;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--accent-color);
    box-shadow: 2px 2px 8px #777;
    border-radius: 3px 3px 33.5px 3px;
}

.main-nav > ul > li > a {
    text-decoration: none;
    display: block;
    font-weight: 200;
    padding: .5rem 8rem .5rem 1rem;
    color: white;
}

.main-nav > ul > li > a:hover {
    font-weight: 400;
}

/* ------------------------------ */

.collapse-all-wrapper {
    position: relative;
    align-self: flex-end;
}

.collapse-float-nav {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -1rem;
    right: 2rem;
    cursor: pointer;
    z-index: 2;
}

.collapse-float-nav button {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 400;
    border-radius: 1rem;
    text-align: center;
    white-space: nowrap;
    background-color: var(--accent-color);
    box-shadow: 2px 2px 8px #777;
    color:hsl(0, 0%, 100%);
}

.collapse-nav {
    display: none;
    opacity: 0;
    font-family: sans-serif;
    position: absolute;
    top: -1rem;
    right: 2rem;
    transition: opacity 250ms;
}

.collapse-nav.active {
    display: block;
    opacity: 1;
    transition: opacity 250ms;
}

.collapse-nav > ul {
    width: 100%;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--accent-color);
    box-shadow: .2rem .2rem .8rem #777;
    border-radius: 3px 3px 33.5px 3px;
}

.collapse-nav > ul > li > a {
    text-decoration: none;
    display: block;
    font-weight: 200;
    padding: .5rem 8rem .5rem 1rem;
    color: white;
    white-space: nowrap;
}

.collapse-nav > ul > li > a:hover {
    font-weight: 400;
}
